html {
  background: #0f0f0f;
}

h1 {
  color: #f0f0f0;
  font-family: "Notable", sans-serif;
  font-size: 40px;
  text-align: center;
}

p {
  color: #b5b5b5;
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
}

.button {
  background-color: #4169e1;
  color: #f0f0f0;
  text-decoration: none;
  border: none;
  padding: 18px 34px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #214cce;
}

.piles {
  position: relative;
  margin: 0 auto;
  width: 800px;
  text-align: center;
  cursor: pointer;
}

.piles:hover {
  border: 2px royalblue dashed;
}
/*
font-family: 'Roboto Mono', monospace;
font-family: 'Notable', sans-serif;
*/
